/* botón cards tienda */
$btn-color: rgb(92, 92, 92);
$btn-hover-color: rgb(170, 170, 170);

/* night light mode tema */
$gris: rgb(64, 64, 64);
$gris-claro: rgb(199, 199, 199);
$gris-oscuro: rgb(32, 32, 32);