/* light night mode map */
@each $diferente-tema, $map in $tema-map {
    .tema-#{$diferente-tema} {                           /* dependiendo que mapa se elija, 1 o 2 toma los diferentes valores en $map*/
        .tema-background {
             background-color: map-get($map, background-color);  /* valor bg del $map */             /* map-get toma el valor del nombre que se le indique */
        }
        .tema-text {
            color: map-get($map, color);                        /* valor color del $map */
        }
        .tema-background-nav {
            background-color: map-get($map, nav-background);
        }
        .tema-text-nav {
            color: map-get($map, nav-color);
        }
        .tema-tienda-card {
            background-color: map-get($map, tienda-card);
        }
        .tema-card-text {
            color: map-get($map, tienda-card-text);
        }
    }
 }